<!-- {% load  static %} -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Talent_Hub</title>
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Yanone+Kaffeesatz" rel="stylesheet">
        <!-- <link rel="stylesheet" href="{%  static 'css/home.css' %}"> -->
        <!-- <link rel="stylesheet" href="{% static 'css/style.css'%}"/> -->
    </head>
    <body>
        <!-- <div class="web_name"><h2><b>Talent_Hub</b></h2></div> -->
        <div class="information_box">
         <ul>
             <li class="first" id="home"><a href="/"><i class="fa fa-home"></i><br>home</a></li>
             <li id="information"><a href="#"><i class="fa fa-info"></i><br>information</a>
                 <div class="sub_information_box1">
                     <ul>
                         <li><a href="/info/">info<i class="fa fa-angle-right"></i></a></li>
                         <li class="sub_1"><a href="#">careers<i class="fa fa-angle-right"></i></a>
                             <div class="sum_box2">
                                 <ul>
                                     <li><a href="/inter/">Inter</a></li>
                                     <li><a href="/diploma/">Diploma</a></li>
                                     <li><a href="/iiit/">IIIT</a></li>
                                     <li><a href="/iti/">ITI</a></li>
                                     <li><a href="/Vocational/">Vocational</a></li>
                                     <li><a href="/Travel/">Travel and Tourism</a></li>
                                     <li><a href="/sports/">Sports</a></li>
                                     <li><a href="/jobs/">Govt jobs</a></li>
                                 </ul>       
                             </div>
                         </li>
                         <li><a href="/skills/">skills to learn<i class="fa fa-angle-right"></i></a></li>
                         <!-- <li><a href="#"><i class="fa fa-angle-right"></i></a></li> -->
                     </ul>
                 </div>
             </li>
             <li id="student_details"><a href="/details/"><i class="fa fa-users"></i><br>Details</a>
                 
             </li>
             <li id="bank_details"><a href="/bank_details/"><i class="fa fa-university"></i><br>bank details</a></li>
             <li id="donations"><a href="/donations/"><i class="fa fa-money"></i><br>donations</a></li>
             <li id="logout"><a href="/"><i class="fa fa-sign-out"></i>logout</a></li>
         </ul>
        </div>
     </body>
</html>